.processing-notification-icon {
  &--spin { animation: rotate 1s linear infinite; }
}

.processing-notification {
  &--error .toast { background-color: var(--pgn-color-danger-500); }

  &--success .toast { background-color: var(--pgn-color-success-500); }
}

.processing-notification-hide-close-button {
  .btn-icon {
    display: none;
  }
}

.toast-container {
  right: 1.25rem;
  left: unset;
  z-index: var(--pgn-elevation-popover-zindex);
}
